*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(80, 87, 167);
  }
  section{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
  }
  section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
  }
  section .imgBx img{
    height: 100%;
    width: 100%;
  }
  section .contentBx{
    display: flex;
    width: 300%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 235, 255);
  }
  .inputsF{
    position: absolute;
    width: 10%;
    
  }
  .inputsF h1{
    margin-bottom: 2rem;
    width: 20rem;
  }
  .LoginBtn{
    position: absolute;
    transform: translate(19rem, -29rem);
  }
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
  }
  .text h3{
    text-align: center;
  }
  .Titulo{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3rem;
    margin-left: 3rem;
    justify-content: left;
    align-items: left;
}
  .card{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: 7rem;
    justify-content: left;
    align-items: left;
    margin: auto;
    display: flex;
    flex-direction: column;
  }